body {
    height: 500px;
    width: 400px;
    background-color: #85dcb8;
}

#grid-container {
    height: 300px;
    width: 380px;
    display: grid;
    grid-template-columns: auto auto;
    background-image:linear-gradient(#85dcb8, #41B3A9, #85dcb8);
    padding: 5px;
  }

.grid-item {
    width: 135px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 50px;
    text-align: center;
    margin: 5px;
  }

.button {
  font-size: 1.2em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid palevioletred;
  border-radius: 3px;
}

.button:hover{
    background-color: #E27D60;
    color: white;
}
.selected{
    border: 5px solid red;
}

.pagination a {
  color: black;
  float: right;
  padding: 8px 16px !important;
  text-decoration: none;
  transition: background-color .3s;
  font-size: 10px !important;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.item1 { grid-area: input; }
.item2 { grid-area: search; }
.item3 { grid-area: grid; }
.item4 { grid-area: upload; }
.item5 { grid-area: delete; }
.item6 { grid-area: saved; }
.item7 {grid-area: link; }
.item8 {grid-area: page; }

.over-container {
  display: grid;
  grid-template-areas:
  'input . search'
  'grid grid grid'
  'link page page'
  'upload delete saved';
  grid-gap: 10px;
  padding: 10px;
}

.over-container > div {
  text-align: center;
  font-size: 30px;
}